<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321769650437-utquvvq9o6mhlqcdjjkvjd5hfmc7s4ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321769650437-utquvvq9o6mhlqcdjjkvjd5hfmc7s4ol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321769650437-afd6bq2eu00bj1i629bcu7uglicdsg30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0nPEEHNJNsfnEKUGpZ7yfW8EC81fWH-g</string>
	<key>GCM_SENDER_ID</key>
	<string>321769650437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livelong.wealth</string>
	<key>PROJECT_ID</key>
	<string>livelong-8c95a</string>
	<key>STORAGE_BUCKET</key>
	<string>livelong-8c95a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321769650437:ios:6dce9775cc42172a349f6c</string>
</dict>
</plist>